.mainbox {
  position: relative;
  width: 270px;
}

.err {
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  font-size: 6.5rem;
}

.far {
  font-size: 4rem;
  color: #000;
}

.err2 {
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  font-size: 6.5rem;
}

.msg {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}
