.top-header {
  background-color: $primary;

  a {
    text-decoration: none;
    color: #fff;
  }

  .group-btn {
    background-color: #fff !important;
    color: black !important;
    text-transform: capitalize !important;

    &:hover {
      background-color: #eee !important;
    }
  }
}
